body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
  }
button {
    border: 0;
    background: none;
    padding: 0 1.5rem;
    border-right: 2px solid black;
}

.header {
    background: rgb(209, 214, 240);
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
    font-size: 25px;
    padding: 20px;
}

.menu {
    display: flex;
    background: rgb(25, 61, 33);
}

.menu>div {
    display: flex;
    border: black solid 1px;
    padding: 15px 15px;
    font: bold;
    color: blanchedalmond;
    flex-wrap: wrap;
    text-align: center;
}

.columns {
    flex-wrap: wrap;
    display: flex;
}

.columns>div {
    padding: 1rem;
}

.footer {
    border: rgb(25, 65, 25) solid 2px;
    padding: 15px;
    margin: 0px;
    text-align: center;
    color: blanchedalmond;
    background-color: rgb(25, 65, 25);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 0.25fr 3fr 0.5fr;
}

.full-grid {
    grid-column: 1/4;
}

.column-1 {
    flex: 1 1 50%;
    order: 1;
    background-color: rgb(92, 100, 100);
}

.column-2 {
    flex: 1 1 100%;
    order: 3;
    background-color: rgb(178, 190, 190);
}

.column-3 {
    flex: 1 1 50%;
    order: 2;
    background-color: rgb(163, 189, 189);
}

@media screen and (min-width: 600px) {
    .column-1 {
        flex-basis: 25%;
    }

    .column-2 {
        flex-basis: 50%;
        order: 2;
    }

    .column-3 {
        flex-basis: 25%;
        order: 3;
    }
}